@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

@if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
{
<p>@Model.ErrorMessage</p>
}
else if (Model != null && !string.IsNullOrEmpty(Model.RequestId))
{
<p>Request ID: @Model.RequestId</p>
}
else
{
<p>An unknown error occurred.</p>
}