@model ContactModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Dodaj kontakt</h2>
<form asp-action="Add" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="FirstName">Imię</label>
        <input class="form-control" asp-for="FirstName"/>
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="LastName">Nazwisko</label>
        <input class="form-control" asp-for="LastName"/>
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email">Adres email</label>
        <input class="form-control" asp-for="Email"/>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PhoneNumber">Numer telefonu</label>
        <input class="form-control" asp-for="PhoneNumber"/>
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="BirthDate">Data urodzin</label>
        <input class="form-control" asp-for="BirthDate"/>
        <span class="text-danger" asp-validation-for="BirthDate"></span>
    </div>
    
    <button class="btn btn-outline-primary" type="submit">Zapisz</button>
</form>
